* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    overflow: hidden;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw; 
    padding: 3vw;
    border-radius: 3vw;
    max-width: 90vw;
    max-height: 90vh;
}

.hour, .minute {
    font-size: 40vw;
    font-weight: bolder;
    text-align: center;
    padding: 20px 15px;
    border-radius: 3vw;
    margin: 2px;
}

/* Default (Light Mode) */
.hour, .minute {
    color: #9065B0;
    background-color: #F6F3F9;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #191919;
    }
    .hour, .minute {
        color: #9A6DD7;
        background-color: #2b2431;
    }

}