* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
    overflow: hidden;
}

.clock-container {
    display: flex;
    gap: 5px; 
}

.hour-container, .minute-container {
    display: flex;
    flex-direction: column;
    background-color: #F6F3F9;
    padding: 8vh 5vh;
    border-radius: 5vh;
    display: inline-block;
}

.hour, .minute {
    font-size: 65vh;
    font-weight: bolder;
    text-align: center;
    line-height: 1.15; 
}

.ampm {
    font-size: 10vh;
    font-weight: bolder;
    text-align: left;
}

.day {
    font-size: 10vh;
    font-weight: bolder;
    text-align: right;
}


/* Default (Light Mode) */
.hour, .minute, .ampm, .day {
    color: #9065B0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #191919;
    }

    .hour-container, .minute-container{
        background-color: #2b2431;
    }

    .hour, .minute, .ampm, .day {
        color: #9A6DD7;
    }

}